[defaults]
inventory = hosts.ini
roles_path = roles
private_key_file = ~/.ssh/id_rsa
merge_multiple_cli_tags=True
display_args_to_stdout = True
timeout = 60
host_key_checking = False
forks = 10
retry_files_enabled = False
ansible_shell_type=sh
module_name = shell
gathering = explicit

[ssh_connection]
ssh_args = -q
control_path=%(directory)s/ansible-ssh-%%h-%%p-%%r