{% macro svc_account(create, env, profile, name) %}
{% if create  -%}
{% if env == 'non-prod' -%}
{{ 'apigee-non-prod-svc-account-secret' % project_id }}
{% elif env == 'prod' %}
{{ 'apigee-%s-svc-account-secret' % profile }}
{% else %}
{{ 'apigee-non-prod-svc-account-secret' % project_id }}
{%- endif %}
{% else %}
{{ name }}
{%- endif %}
{% endmacro %}
