# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
# tasks file for cert-manager
- name: Certificates directory exists
  file:
    path: "{{ setup_path }}"
    state: directory

- name: Download cert-manager
  uri:
    url: https://github.com/jetstack/cert-manager/releases/download/{{ cert_manager_version }}/cert-manager.yaml
    dest: "{{ setup_path }}/cert-manager.yaml"

- name: Apply cert-manager manifest to the cluster.
  kubernetes.core.k8s:
    state: "{{cert_manager_status}}"
    src: "{{ setup_path }}/cert-manager.yaml"

- name: Wait for cert-manager to be up.
  kubernetes.core.k8s_info:
    kind: Pod
    wait: yes
    label_selectors:
      - "app.kubernetes.io/instance=cert-manager"
    namespace: cert-manager
    wait_timeout: 90
    wait_condition:
      type: Ready
      status: True
  when: "cert_manager_status == 'present'"